*{
    padding: 0;
    margin: 0;
    
}

body{
    
    font-family: sans-serif;
    background: rgb(250, 249, 249);
}

.logo{
    color: silver;
    text-decoration: underline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
    font-size: larger;
    background-color:rgba(0, 0, 0, 0.8);
}
nav{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
       
}
nav ul{
    list-style-type: none;
    text-align: center;
   
 }  
nav ul>li
{
     
     padding: 20px;
     margin: 15px;
     display: inline-block;
     align-self: center;
     justify-content: space-around;

 }
nav a{
    text-decoration: none;
    color:grey;
    
}
nav a:hover{
    background-color: silver;
    color: white;
    font-size: larger;
    border-radius: 25%;
    padding: 5px;
}
/* Slideshow container */
.slideshow-container {
    width:100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

section{
    border:1px solid grey;
    text-align:center;
    margin: 10px;
}

.categories{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.holder{
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

#prod a{
  text-decoration: none;
  color: black;
}


#countdown{
    align-self: flex-start;
}
#countdown li{
    list-style: none;
    color: red;
    display: inline;
}
#footerprope form{
    float:right;
    width:25%;
    padding-left:5px;
    padding-right:5px ;
    text-align:center;

}
.footer{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    height :fit-content;
    color: #ffffff;
   
  }
.lf{
  width: min-content;
    height: min-content;

}
#footerprope{
height: fit-content;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;

}
.navbar2{
  float:left;
  width:fit-content;
}
.navbar2 a{
  color:#717171;
  text-decoration: none;
  font-family: fantasy;

}
.navbar2>ul{
    list-style-type: none;
    text-align: justify;

}

.navbar2 a:hover{
  background-color: rgb(146, 60, 60);
    }

.navbar2>ul>li>a{
    margin: 2px,2px;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#footerprope form{
    float:right;
    width:25%;
    padding-left:5px;
    padding-right:5px ;
    text-align:center;

}


#mail{
  margin:0px,0px,2px,2px;
  text-align: center;
  min-height: min-content;
  padding: 12px;
  float: center;
  width:25%;

}
#mail>span{
display: inline;

}

.social_icon {
  display:inline;
  width:25%;
}
.social_icon li{ 
  display: inline;
  float: left;
  padding-left: 17px; }


.copyright_section{
background-color: black;
width: 100%;
float: left;

}


.copyright_text{
width: 100%;
float: left;
font-size: 17px;
color: #ffffff;
text-align: center;
margin-left: 0px;
}

